# Data (Ignore massive CSVs and binary tensors)
data/raw/
data/raw_live/
data/processed/
data/processed_flat/
data/bear_market/
data/evaluation/
*.db
data/processed_v2/

# Allow tracking for our approved asset lists and blacklists
!data/*.txt

# Models (Ignore large weights)
models/*.pth
models/*.joblib

# Reports & Logs
reports/
logs/
outputs/
*.log

# Python
__pycache__/
*.py[cod]
.Python
env/
venv/
venv_win/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
.DS_Store

# Environment Variables
.env

# Scratch
scratch/
