# Data (Ignore massive CSVs and DBs, but keep configs)
/data/raw/
/data/bear_market/
/data/raw_live/
/data/processed/
/*.db

# Allow tracking for our approved asset lists and blacklists
!/data/*.txt

# Models (Ignore large weights, keep the folder structure)
/models/*.pth

# Reports & Logs
/reports/
/logs/
/outputs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
.DS_Store

# Environment Variables
.env
